# Example environmental variables settings
# Django settings
DEBUG=False
DJANGO_SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# AI settings
GEMINI_API_KEY=your-gemini-api-key-here
AI_ENABLED=False

# Database settings
DATABASE_NAME=sentinel_ids
DATABASE_USER=sentinel
DATABASE_PASSWORD=sentinel
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
