Django==4.2.7
djangorestframework
djangorestframework-simplejwt
mysqlclient
gunicorn
django-cors-headers   
python-dotenv
numpy
pandas
scikit-learn>=1.8.0
joblib
google-genai
channels
channels-redis
daphne
fpdf2>=2.7.0 

